<div class="container-fluid">
    <div class="row">
        <!--Used Bootstrap to force elements to render on new rows/blocks. Begin Phoenix graphic and SVG Elements-->
        <!-- REMOVE COLORS ONCE THE ROUTING IS IN PLACE! -->
        <div class="phoenix-graphic-wrapper col-sm-12 col-md-12 col-lg-12">
            <svg id="featherLinkBox-1" alt="Click feather to visit a page" width="inherit" height="inherit">
                <!-- xlarge screen device -->
                <a id="left-feather-link-l1" class="svg-featherLink-xlarge" href="https://dtphx.org/">
                    <polygon points="400,380 900,380 900,440 750,480 400,500" fill="transparent" stroke="red" stroke-width="2px"></polygon>
                </a>
                <a id="left-feather-link-l2" class="svg-featherLink-xlarge" href="https://dtphx.org/">
                    <polygon points="400,550 900,450 910,495 740,570 480,620" fill="transparent" stroke="red" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-l1" class="svg-featherLink-xlarge" href="https://dtphx.org/">
                    <polygon points="1600,380 2100,380 2100,500 1800,480 1600,440" fill="transparent" stroke="red" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-l2" class="svg-featherLink-xlarge" href="https://dtphx.org/">
                    <polygon points="1600,450 2100,550 2020,620 1760,570 1590,495" fill="transparent" stroke="red" stroke-width="2px"></polygon>
                </a>
                <!-- medium-large device -->
                <a id="left-feather-link-mlg1" class="svg-featherLink-medlarge" href="https://dtphx.org/">
                    <polygon points="30,220 320,220 320,260 220,276 60,286" fill="transparent" stroke="purple" stroke-width="2px"></polygon>
                </a>
                <a id="left-feather-link-mlg2" class="svg-featherLink-medlarge" href="https://dtphx.org/">
                    <polygon points="44,300 270,276 320,266 320,300 70,354" fill="transparent" stroke="purple" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mlg1" class="svg-featherLink-medlarge" href="https://dtphx.org/">
                    <polygon points="678,220 968,220 938,286 778,276 678,260" fill="transparent" stroke="purple" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mlg2" class="svg-featherLink-medlarge" href="https://dtphx.org/">
                    <polygon points="678,266 728,276 954,300 920,354 678,300" fill="transparent" stroke="purple" stroke-width="2px"></polygon>
                </a>
                <!-- medium device, landscape tablet -->
                <a id="left-feather-link-mls1" class="svg-featherLink-med-ls" href="https://dtphx.org/">
                    <polygon points="30,220 320,220 320,260 220,276 60,286" fill="transparent" stroke="green" stroke-width="2px"></polygon>
                </a>
                <a id="left-feather-link-mls2" class="svg-featherLink-med-ls" href="https://dtphx.org/">
                    <polygon points="44,300 270,276 320,266 320,300 70,354" fill="transparent" stroke="green" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mls1" class="svg-featherLink-med-ls" href="https://dtphx.org/">
                    <polygon points="678,220 968,220 938,286 778,276 678,260" fill="transparent" stroke="green" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mls2" class="svg-featherLink-med-ls" href="https://dtphx.org/">
                    <polygon points="678,266 728,276 954,300 920,354 678,300" fill="transparent" stroke="green" stroke-width="2px"></polygon>
                </a>
                <!-- medium device, portrait tablet -->
                <a id="left-feather-link-mp1" class="svg-featherLink-med-por" href="https://dtphx.org/">
                    <polygon points="1,160 225,160 225,200 145,220 1,240" fill="transparent" stroke="blue" stroke-width="2px"></polygon>
                </a>
                <a id="left-feather-link-mp2" class="svg-featherLink-med-por" href="https://dtphx.org/">
                    <polygon points="3,245 225,215 225,232 180,250 20,300" fill="transparent" stroke="blue" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mp1" class="svg-featherLink-med-por" href="https://dtphx.org/">
                    <polygon points="513,160 738,160 738,240 594,220 513,200" fill="transparent" stroke="blue" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-mp2" class="svg-featherLink-med-por" href="https://dtphx.org/">
                    <polygon points="515,215 737,245 720,300 560,250 515,232" fill="transparent" stroke="blue" stroke-width="2px"></polygon>
                </a>
                <!-- small device, landscape -->
                <!-- links will need to display 2 options -->
                <a id="left-feather-link-sls1" class="svg-featherLink-small-ls" href="https://dtphx.org/">
                    <polygon points="50,95 224,95 224,146 50,186" fill="transparent" stroke="white" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-sls1" class="svg-featherLink-small-ls" href="https://dtphx.org/">
                    <polygon points="412,95 586,95 586,186 412,146" fill="transparent" stroke="white" stroke-width="2px"></polygon>
                </a>
                <!-- small device, portrait -->
                <!-- links will need to display 2 options -->
                <a id="left-feather-link-sp1" class="svg-featherLink-small-por" href="https://dtphx.org/">
                    <polygon points="1,160 110,160 110,240 1,260" fill="transparent" stroke="orange" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-sp1" class="svg-featherLink-small-por" href="https://dtphx.org/">
                    <polygon points="260,160 369,160 369,260 260,240" fill="transparent" stroke="orange" stroke-width="2px"></polygon>
                </a>
                <!-- xsmall device -->
                <!-- links will need to display 2 options -->
                <a id="left-feather-link-xs1" class="svg-featherLink-xsmall" href="https://dtphx.org/">
                    <polygon points="1,160 110,160 110,230 1,250" fill="transparent" stroke="yellow" stroke-width="2px"></polygon>
                </a>
                <a id="right-feather-link-xs1" class="svg-featherLink-xsmall" href="https://dtphx.org/">
                    <polygon points="230,160 339,160 339,250 230,230" fill="transparent" stroke="yellow" stroke-width="2px"></polygon>
                </a>
            </svg>
        </div>

        <!--End Phoenix graphic and SVG Elements-->

        <!--Begin parallax-->
        <div class="parallax-wrapper col-sm-12 col-md-12 col-lg-12">
            <div class="content">
                <h1 class="parallax-content">Heart of an artist</h1>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
        <div class="regular-wrapper col-sm-12 col-md-12 col-lg-12">
            <div class="content">
                <h1 class="parallax-content">Mind of a programmer</h1>
                <br /><br /><br /><br /><br />
                <hr />
                <br /><br /><br /><br /><br />
                <p>
                I love to build things. Drawing, painting, designing layouts, and writing code to scaffold a site are my main creative outlets, but not the only ones. 
                I'm passionate about learning new techniques and technologies, and creating things the right way so excellence keeps building on itself.
                My site is still under construction, but I'm constantly adding to it.
                </p>
            </div>
        </div>
    </div>
</div>